body{
	padding: 0;
	margin: 0;
}
header{
	width: 100vw;
	height: 40px;
	background: #e3e4e5;
}
header ul{
	padding: 0;
	margin: 0 auto;
	width: 1050px;
	height: 40px;
	list-style-type: none;
}
header ul li{
	position: relative;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
}
header ul li:nth-of-type(1){
	padding-left: 10px;
	margin-right: 230px;
	border-left: 1px solid #e3e4e5;
}
header ul li:nth-of-type(1):hover{
	background: #fff;
	border-left: 1px solid #B5B3B3;
}
header ul li:nth-of-type(1):hover table{
	display: inline-block;
}
header ul li:nth-of-type(1) span{
	display: inline-block;
	position: relative;
	height: 40px;
	width: 55px;
}
header ul li:nth-of-type(1) i{
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
	color: red;
	font-size: 16px;
}
header ul li:nth-of-type(1) table{
	position: absolute;
	display: none;
	left: -1px;
	width: 300px;
	background: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: transparent #B5B3B3 #B5B3B3 #B5B3B3;
	z-index: 99;
}
header ul li:nth-of-type(1) table tr{
	height: 33px;
	display: block;
	width: 300px;
}
header ul li:nth-of-type(1) table tr td{
	height: 25px;
	width: 45px;
	display: inline-block;
	line-height: 25px;
	padding-left: 10px;
	cursor: pointer;
}
header ul li:nth-of-type(1) table tr td:hover{
	background: #e3e4e5;
}
header ul li:not(:nth-of-type(1)){
	padding-left: 11px;
	padding-right: 11px;
}
header ul li:nth-of-type(3) a{
	color: red;
}

header ul li a{
	text-decoration: none;
	color: gray;
}
header ul li:hover > a{
	color: red;
}
header ul li:nth-of-type(5){
	border-left: 1px solid #e3e4e5;
}
header ul li:nth-of-type(5):hover{
	background: #fff;
	border-left: 1px solid #B5B3B3;
}
header ul li:nth-of-type(5):hover > table{
	display: block;
}
header ul li:nth-of-type(5) > table{
	position: absolute;
	display: none;
	width: 250px;
	left: -1px;
	background: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: transparent #B5B3B3 #B5B3B3 #B5B3B3;
	z-index: 99;
}
header ul li:nth-of-type(5) > table tr{
	text-indent: 10px;
	display: block;
	height: 35px;
	line-height: 35px;
}
header ul li:nth-of-type(5) > table tr td{
	display: inline-block;
	width: 100px;
}
header ul li:nth-of-type(5) > table tr:nth-of-type(3){
	border-bottom: 1px solid #B5B3B3;
}
header ul li:nth-of-type(5) > table tr td a:hover{
	color: red;
}
header ul li:nth-of-type(8){
	border-left: 1px solid #e3e4e5;
}
header ul li:nth-of-type(8):hover{
	background: #fff;
	border-left: 1px solid #B5B3B3;
}
header ul li:nth-of-type(8):hover > table{
	display: block;
}
header ul li:nth-of-type(8) > table{
	position: absolute;
	display: none;
	left: -1px;
	width: 200px;
	background: #fff;
	z-index: 99;
	border-style: solid;
	border-width: 1px;
	border-color: transparent #B5B3B3 #B5B3B3 #B5B3B3;
}
header ul li:nth-of-type(8) > table tr{
	display: block;
	height: 30px;
	line-height: 30px;
}
header ul li:nth-of-type(8) > table tr th,
header ul li:nth-of-type(8) > table tr td{
	width: 100px;
	text-indent: 10px;
}
header ul li:nth-of-type(8) > table tr td a:hover{
	color: red;
}
header ul li:nth-of-type(9){
	border-left: 1px solid #e3e4e5;
	border-right: 1px solid #e3e4e5;
}
header ul li:nth-of-type(9):hover{
	background: #fff;
	border-left: 1px solid #B5B3B3;
	border-right: 1px solid #B5B3B3;
}
header ul li:nth-of-type(9):hover > div{
	display: block;
}
header ul li:nth-of-type(9) > div{
	display: none;
	position: absolute;
	width: 1182px;
	left: -952px;
	background: #fff;
	z-index: 99;
	border-style: solid;
	border-width: 1px;
	border-color: transparent #B5B3B3 #B5B3B3 #B5B3B3;
}
header ul li:nth-of-type(9) > div table{
	display: inline-block;
	text-indent: 10px;
}
header ul li:nth-of-type(9) > div table:not(:first-child){
	border-left: 1px solid #B5B3B3;
}
header ul li:nth-of-type(9) > div table tr{
	display: block;
	height: 35px;
}
header ul li:nth-of-type(9) > div table tr td{
	width: 84px;
}
header ul li:nth-of-type(9) > div table tr td a:hover{
	color: red;
}
#search_box{
	margin: 0 auto;
	width: 1050px;
	height: 150px;
}
#search_box div span input{
	width: 550px;
	height: 30px;
	position: relative;
	left: 150px;
	top: 20px;
	border: 1px solid red;
	font-size: 14px;
	text-indent: 5px;
	outline: none;
}
#search_box div span button{
	position: relative;
	left: 95px;
	width: 50px;
	height: 34px;
	top: 20px;
	border: 1px solid red;
	background: red;
	outline: none;
	cursor: pointer;
}
#search_box div span:nth-of-type(2){
	position: relative;
	left: 150px;
	top: 20px;
	display: inline-block;
	color: red;
	width: 200px;
	height: 32px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #C4BDBD;
}
#search_box div span:nth-of-type(2)::after{
	content: "购物车中还没有商品，赶紧选购吧！";
	position: absolute;
	display: none;
	width: 300px;
	height: 80px;
	line-height: 80px;
	color: #C4BDBD;
	font-size: 13px;
	left: -101px;
	top: 32px;
	background: #fff;
	border: 1px solid #C4BDBD;
	z-index: 1;
}
#search_box div span:nth-of-type(2):hover::after{
	display: block;
}
#search_box div span button i{
	color: #fff;
}
#search_box > div h4{
	display: inline-block;
}
#search_box > div:nth-of-type(2){
	position: relative;
	top: 25px;
	left: 150px;
}
#search_box > div:nth-of-type(2) > a{
	text-decoration: none;
	margin-right: 5px;
	font-size: 12px;
	color: gray;
}
#search_box > div:nth-of-type(3){
	position: relative;
	top: 45px;
	left: 30px;
}
#search_box > div:nth-of-type(3) h4{
	margin-left: 15px;
	margin-right: 15px;
}
#search_box > div:nth-of-type(3) h4 a{
	text-decoration: none;
	color: #282626;
}
#search_box > div:nth-of-type(2) a:hover{
	color: red;
}
#search_box > div:nth-of-type(3) h4 a:hover{
	color: red;
}