#jd_banner{
	position: relative;
	margin: 0 auto;
	width: 1184px;
	height: 480px;
	background: #E2D8D8;
}
#jd_cot{
	display: inline-block;
	position: relative;
	top: -16px;
	padding: 0;
	margin-right: 5px;
	width: 190px;
	height: 480px;
	background: #6e6568;
	list-style-type: none;
}
#jd_cot > li{
	position: relative;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	color: #fff;
}
#jd_cot > li:hover{
	background: #A49292;
}
#jd_cot > li:nth-of-type(1){
	margin-top: 15px;
}
#jd_cot > li:nth-of-type(2) .jd_cot_sub{
	top: -45px;
}
#jd_cot > li:nth-of-type(3) .jd_cot_sub{
	top: -75px;
}
#jd_cot > li:nth-of-type(4) .jd_cot_sub{
	top: -105px;
}
#jd_cot > li:nth-of-type(5) .jd_cot_sub{
	top: -135px;
}
#jd_cot > li:nth-of-type(6) .jd_cot_sub{
	top: -165px;
}
#jd_cot > li:nth-of-type(7) .jd_cot_sub{
	top: -195px;
}
#jd_cot > li:nth-of-type(8) .jd_cot_sub{
	top: -225px;
}
#jd_cot > li:nth-of-type(9) .jd_cot_sub{
	top: -255px;
}
#jd_cot > li:nth-of-type(10) .jd_cot_sub{
	top: -285px;
}
#jd_cot > li:nth-of-type(11) .jd_cot_sub{
	top: -315px;
}
#jd_cot > li:nth-of-type(12) .jd_cot_sub{
	top: -345px;
}
#jd_cot > li:nth-of-type(13) .jd_cot_sub{
	top: -375px;
}
#jd_cot > li:nth-of-type(14) .jd_cot_sub{
	top: -405px;
}
#jd_cot > li:nth-of-type(15) .jd_cot_sub{
	top: -435px;
}
#jd_cot > li > a{
	text-decoration: none;
	font-size: 14px;
	color: #fff;
}
#jd_cot > li > a:hover{
	color: #E01222;
}
.jd_cot_sub{
	position: absolute;
	display: none; 
	padding-bottom: 20px;
	left: 190px;
	top: -15px;
	width: 994px;
	min-height: 460px;
	background: #FFF9F9;
	color: #333;
	z-index: 1;
	box-shadow: 1px 1px 1px 0px #C5C1C1, 0 -1px 1px 0px #C5C1C1;
}
.jd_cot_list ul{
	list-style-type: none;
	position: relative;
	top: 15px;
	left: -20px;
}
.jd_cot_list ul li{
	background: #333;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	height: 25px;
	line-height: 25px;
}
.jd_cot_list ul li:hover{
	background: #6F6E6E;
}
.jd_cot_list ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
}
.jd_cot_list ul li a:hover{
	color: #E01222;
}
.jd_cot_list table{
	display: inline-block;
	position: relative;
	top: 20px;
	width: 800px;
}
.jd_cot_list table tr th{
	position: relative;
	left: -30px;
	text-align: right;
	width: 120px;
	font-size: 12px;
}
.jd_cot_list table tr td{
	position: relative;
	left: -30px;
	font-size: 12px;
	display: inline-block;
}
.jd_cot_list table tr td::before{
	content: "";
	position: absolute;
	width: 1px;
	height: 13px;
	background: #CDC8C8;
	transform: translate(-7px,9px)
}
.jd_cot_list table tr th a,
.jd_cot_list table tr td a{
	color: #333;
	text-decoration: none;
}
.jd_cot_list table tr th a:hover,
.jd_cot_list table tr td a:hover{
	color: #E01222;
}
.jd_cot_img{
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 500px;
}
.jd_cot_img div:nth-of-type(1){
	position: relative;
	top: 20px;
}
.jd_cot_img div:nth-of-type(2){
	position: relative;
	top: 12px;
}
.jd_cot_img div:nth-of-type(3){
	position: relative;
	top: 4px;
}
.jd_cot_img div:nth-of-type(4){
	position: relative;
	top: -4px;
}
.jd_cot_img div:nth-of-type(5) img:nth-of-type(2){
	position: relative;
	left: 10px;
	top: -7px;
}

#jd_cot li:hover .jd_cot_sub{
	display: block;
}
/* #jd_slider{
	position: relative;
	display: inline-block;
	top: 0px;
	width: 785px;
	height: 480px;
	overflow: hidden;
}
#jd_sub_slider{
	display: inline-block;
	position: relative;
	width: 6280px;
	height: 330px;
	background: #E01222;
}
#jd_sub_slider .mySlides{
	display: block;
}
#jd_sub_slider .mySlides img{
	width: 785px;
	height: 330px;
}
#jd_sub_slider .prev,
#jd_sub_slider .next{
	display: inline-block;
	position: absolute;
	top: 140px;
	font-size: 29px;
	width: 45px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	transition: all .1s ease-in;
}
#jd_sub_slider .prev{
	border-radius: 0 3px 3px 0;
}
#jd_sub_slider .next{
	left: 740px;
	border-radius: 3px 0 0 3px;
}
#jd_sub_slider .prev:hover,
#jd_sub_slider .next:hover{
	background: rgba(0, 0, 0, .6);
}
#jd_sub_slider .next:nth-of-type(2){
	right: 0px;
}
#jd_sub_slider .dots{
	position: absolute;
	left: 318px;
	bottom: 20px;
	width: 153px;
	height: 20px;
	background: rgba(255,255,255,.5);
	border-radius: 10px;
}
#jd_sub_slider .dots .dot{
	display: inline-block;
	position: relative;
	width: 14px;
	height: 14px;
	margin-top: 3px;
	background: #fff;
	border-radius: 50%;
	cursor: pointer;
	transition: all .1s;
}
#jd_sub_slider .dots .dot:hover{
	background: #E01222;
}
#jd_sub_slider .dots .dot:nth-of-type(1){
	margin-left: 5px;
} */

.jd_slide_banner{
	position: relative;
	top: -528px;
	left: 128px;
	width: 855px;
	height: 330px;
}
.jd_slide_banner ul{
	list-style-type: none;
}
#jd_sub_s_1,
#jd_sub_s_2{
	position: relative;
	display: inline-block;
	top: -842px;
	left: 200px;
	height: 140px;
	/* background: blue; */
}
#jd_sub_s_1 a img,
#jd_sub_s_2 a img{
	width: 390px;
	height: 140px;
}
#jd_services{
	display: inline-block;
	position: relative;
	top: -850px;
	left: 200px;
	width: 190px;
	height: 480px;
}
#jd_services .jd_user{
	position: absolute;
	width: 190px;
	height: 116px;
	border-bottom: 1px solid #D2C7C7;
}
.jd_user .jd_user_u a:nth-of-type(1){
	display: inline-block;
}
.jd_user .jd_user_u a:nth-of-type(1) img{
	width: 50px;
	border-radius: 50%;
	transform: translate(-62px, 47px);
}
.jd_user .jd_user_u a:nth-of-type(2):hover,
.jd_user .jd_user_u a:nth-of-type(3):hover{
	color: #E01222;
}
.jd_user .jd_user_u p,
.jd_user .jd_user_u a{
	position: relative;
	top: -36px;
	left: 70px;
	font-size: 13px;
	text-decoration: none;
	color: #333;
}
.jd_user .jd_user_u p{
	margin: 3px;
	color: gray;
}
.jd_user .jd_user_o a{
	position: relative;
	top: -18px;
	left: 13px;
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	color: #E01222;
	border: 2px solid #E01222;
	padding: 3px 10px;
}
.jd_user .jd_user_o a:hover{
	background: #E01222;
	color: #fff;
}
#jd_services .jd_news{
	position: absolute;
	top: 116px;
	width: 190px;
	height: 154px;
	border-bottom: 1px solid #D2C7C7;
}
#jd_services .jd_news .jd_tabs{
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #D2C7C7;
}
#jd_services .jd_news .jd_tabs a{
	text-decoration: none;
	font-size: 12px;
	color: #333;
}
#jd_services .jd_news .jd_tabs a:nth-of-type(1){
	margin-left: 10px;
}
#jd_services .jd_news .jd_tabs a:nth-of-type(2){
	margin-right: 64px;
	margin-left: 10px;
	border-left: 1px solid #D2C7C7;
	padding-left: 10px;
}
#jd_services .jd_news .jd_tabs a:nth-of-type(3):hover{
	color: #E01222;
}
#jd_services .jd_news .jd_tabs hr{
	position: relative;
	top: -10px;
	left: -72px;
	width: 30px;
	height: 2px;
	border: none;
	background: #E01222;
}
#jd_services .jd_news .jd_tabs_n{
	font-size: 15px;
}
#jd_services .jd_news .jd_tabs_n div{
	margin-top: 10px;
}
#jd_services .jd_news .jd_tabs_n a{
	font-size: 12px;
	text-indent: 10px;
	height: 24px;
	color: #333;
	text-decoration: none;
	display: inline-block;
}
#jd_services .jd_news .jd_tabs_n a:hover{
	color: #E01222;
}
#jd_services .jd_news .jd_tabs_n2{
	display: none;
}
#jd_services .jd_service{
	position: absolute;
	overflow: hidden;
	top: 270px;
	width: 190px;
	height: 209px;
}
#jd_services .jd_service > div:not(:nth-of-type(1)){
	border-top: 1px solid #CBC2C2;
}
#jd_services .jd_service > div > span{
	display: inline-block;
	width: 43px;
	height: 69px;
	text-align: center;
	cursor: pointer;
}
#jd_services .jd_service > div > span:not(:nth-of-type(1)){
	border-left: 1px solid #CBC2C2;
}
#jd_services .jd_service > div > span > span{
	display: block;
	font-size: 12px;
	margin-top: 6px;
}
#jd_services .jd_service > div > span > span:hover{
	color: #E01222;
}
#jd_services .jd_service > div > span i{
	position: relative;
	display: inline-block;
	margin-top: 15px;
}
#jd_services .jd_service > div:nth-of-type(1):hover > span i{
	display: none;
}
#jd_services .jd_service > div:nth-of-type(1) > span:hover::before{
	content: "";
	position: absolute;
	width: 48px;
	height: 2px;
	transform: translateX(-22px);
	background: #E01222;
}
.show_service{
	transition: all .2s;
}
.show_service > div{
	position: absolute;
	top: 30px;
	width: 190px;
	height: 180px;
	background: #fff;
	z-index: 1;
}
.show_service{
	position: relative;
	top: 110px;
	z-index: 1;
}
.jd_service div:hover .show_service{
	top: -69px;
}
.jd_service > div .jd_s_close{
	position: absolute;
	left: 175px;
	top: 29px;
	display: none;
	width: 14px;
	height: 14px;
	cursor: pointer;
	z-index: 99;
}
.jd_service > div .jd_s_close::before{
	content: "";
	position: absolute;
	top: 7px;
	left: 0px;
	width: 14px;
	height: 1px;
	background: #333;
	transform: rotate(45deg);
}
.jd_service > div .jd_s_close::after{
	content: "";
	position: absolute;
	top: 6.5px;
	width: 14px;
	height: 1px;
	background: #333;
	transform: rotate(-45deg);
}
.jd_service > div .jd_s_close:hover{
	background: rgba(0, 0, 0, .3);
	color: #E01222;
}
.jd_s_1 > div:nth-of-type(1) a{
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	color: #333;
	width: 52px;
	padding: 1px 4px;
	margin-top: 10px;
}
.jd_s_1 > div:nth-of-type(1) a:hover{
	background: #E01222;
	color: #fff;
}
.jd_s_1 > div:nth-of-type(2),
.jd_s_1 > div:nth-of-type(4){
	position: relative;
	top: 10px;
	left: 10px;
	font-size: 13px;
}
.jd_s_1 > div:nth-of-type(2) input,
.jd_s_1 > div:nth-of-type(4) input{
	width: 100px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.jd_s_1 > div:nth-of-type(2) p,
.jd_s_1 > div:nth-of-type(4) p{
	display: inline-block;
	color: #E01222;
}
.jd_s_1 > div:nth-of-type(2) a:nth-of-type(1),
.jd_s_1 > div:nth-of-type(4) a:nth-of-type(1){
	display: inline-block;
	position: relative;
	width: 100px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #fff;
	background: #E01222;
	text-decoration: none;
}
.jd_s_1 > div:nth-of-type(2) a:nth-of-type(2),
.jd_s_1 > div:nth-of-type(4) a:nth-of-type(2){
	display: inline-block;
	position: relative;
	text-decoration: none;
	width: 63px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	border-radius: 8px;
	left: -58px;
	top: 32px;
	font-size: 11px;
	color: blue;
}
.jd_s_1 > div:nth-of-type(2) a:nth-of-type(2)::before,
.jd_s_1 > div:nth-of-type(4) a:nth-of-type(2)::before{
	content: "HOT";
	position: absolute;
	background: #3A3AE2;
	color: #fff;
	border-radius: 8px;
	left: -44px;
	font-size: 9px;
	padding: 0px 11px;
}


.jd_s_1 > div:nth-of-type(3){
	position: relative;
	top: 10px;
	left: 10px;
	font-size: 13px;
}
.jd_s_1 > div:nth-of-type(3) input{
	width: 100px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.jd_s_1 > div:nth-of-type(3) p{
	display: inline-block;
	color: #E01222;
}
.jd_s_1 > div:nth-of-type(3) a:nth-of-type(1){
	display: block;
	position: relative;
	top: -10px;
	width: 100px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #fff;
	background: #E01222;
	text-decoration: none;
}
.jd_s_1 > div:nth-of-type(3) a:nth-of-type(2){
	display: inline-block;
	position: relative;
	text-decoration: none;
	width: 63px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	border-radius: 8px;
	left: 46px;
	font-size: 11px;
	color: blue;
}
.jd_s_1 > div:nth-of-type(3) a:nth-of-type(2)::before{
	content: "HOT";
	position: absolute;
	background: #3A3AE2;
	color: #fff;
	border-radius: 8px;
	left: -44px;
	font-size: 9px;
	padding: 0px 11px;
}
.jd_s_1 > div:nth-of-type(2),
.jd_s_1 > div:nth-of-type(3){
	display: none;
}
.jd_s_2 > div:nth-of-type(1) a{
	display: inline-block;
	position: relative;
	top: 10px;
	text-decoration: none;
	font-size: 12px;
	padding: 1px 3px;
	color: #333;
}
.jd_s_2 > div:nth-of-type(1) a:hover{
	background: #E01222;
	color: #fff;
}
.form1,
.form2{
	position: relative;
	top: 24px;
	font-size: 14px;
}
.form2,
.form3{
	display: none;
}
.form1 > input,
.form2 > input{
	margin-left: 10px;
}
.form1 > input[type="submit"],
.form2 > input[type="submit"]{
	position: relative;
	top: 9px;
	left: 0px;
	color: #fff;
	text-decoration: none;
	padding: 4px 10px;
	background: #E01222;
	border: none;
}
.form1 > input:nth-of-type(1),
.form2 > input:nth-of-type(2){
	margin-left: 24px;
}
.form1 a,
.form2 a{
	position: relative;
	top: 10px;
	text-decoration: none;
	color: blue;
	font-size: 12px;
}
.form3 a img{
	position: relative;
	top: 21px;
	margin-left: 7px;
	width: 80px;
	height: 130px;
}
.sentout{
	position: relative;
	top: 5px;
	left: -11px;
}
.sentout > span{
	position: relative;
	display: inline-block;
	background: #B8ADAD;
	top: -1px;
	left: 21px;
	width: 40px;
	text-align: center;
	font-size: 12px;
	color: #625F5F;
	height: 22px;
	line-height: 21px;
	z-index: 1;
}
.sentout > input{
	position: relative;
	left: -22px;
	text-indent: 44px;
	height: 19px;
	outline: none;
	padding: 0;
	margin: 2px;	
	width: 130px;
}
.jd_s_3 div:nth-of-type(1) a{
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	color: #333;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 1px 10px;
}
.jd_s_3 div:nth-of-type(1) a:hover{
	background: #E01222;
	color: #fff;
}
#form4 input{
	width: 150px;
	height: 13px;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 2px;
	margin-left: 15px;
}
#form4 input:nth-of-type(1),
#form4 input:nth-of-type(2),
#form4 input:nth-of-type(3){
	text-indent: 70px;
}
#form4 input:nth-of-type(4){
	text-align: center;
	font-size: 13px;
}
#form4 input:nth-of-type(5){
	width: 80px;
	height: 25px;
	border: none;
	background: #E01222;
	color: #fff;
}
#form4 span{
	position: absolute;
	background: #E0DBDB;
	width: 50px;
	height: 17px;
	color: gray;
	line-height: 17px;
	padding: 0 6px;
	transform: translate(16px, 6px);
	font-size: 12px;
}
#form4 a{
	font-size: 13px;
	color: blue;
	text-decoration: none;
}
#form4 a:hover{
	color: #E01222;
}
.jd_s_3 div:nth-of-type(2) div{
	display: none;
}
.jd_s_3 div:nth-of-type(2) div a{
	width: 39px;
}
.jd_s_3 div:nth-of-type(2) div a:nth-of-type(1){
	transform: translateX(-11px);
}

#game_tab a{
	position: relative;
	top: 10px;
	text-decoration: none;
	margin-left: 15px;
	font-size: 13px;
	color: #000;
	padding: 1px 8px;
}
#game_tab a:hover{
	background: #E01222;
	color: #fff;
}
.game_content{
	margin-left: 22px;
	font-size: 13px;
}
.game_content p{
	color: #E01222;
	display: inline-block;
}
.game_content input[type="submit"]{
	border: none;
	position: relative;
	top: 10px;
	width: 70px;
	height: 21px;
	font-size: 12px;
	background: #E01222;
	color: #fff;
}
.game_content a{
	position: relative;
	top: 10px;
	text-decoration: none;
	color: blue;
	font-size: 12px;
}
.game_content1 span:nth-of-type(1){
	position: relative;
	display: inline-block;
	top: 22px;
	width: 40px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: gray;
	background: #C4BFBF;
	z-index: 1;
}
.game_content1 select:nth-of-type(1){
	width: 151px;
	height: 25px;
	border: 1px solid #B1ACAC;
	top: -3px;
	left: 0px;
	position: relative;
}
.game_content1 select:nth-of-type(2){
	position: relative;
	left: 4px;
	border: 1px solid #B1ACAC;
	width: 60px;
	height: 25px;
}
.game_content2,
.game_content3{
	display: none;
}
.game_content3 a img{
	margin-top: 30px;
	margin-left: -7px;
	width: 82px;
}
.game_content2 span:nth-of-type(1){
	display: inline-block;
	position: relative;
	background: #B8AFAF;
	color: gray;
	width: 40px;
	height: 24px;
	top: 24px;
	line-height: 24px;
	text-align: center;
}
.game_content2 select:nth-of-type(1){
	width: 150px;
	height: 24px;
}
.game_content2 select:nth-of-type(2){
	width: 50px;
	height: 24px;
	margin-left: 5px;
}