#jd_banner{
	position: relative;
	margin: 0 auto;
	width: 1184px;
	height: 480px;
	background: #E2D8D8;
}
#jd_cot{
	display: inline-block;
	position: relative;
	top: -25px;
	padding: 0;
	margin-right: 5px;
	width: 190px;
	height: 480px;
	background: #6e6568;
	list-style-type: none;
}
#jd_cot > li{
	position: relative;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	color: #fff;
}
#jd_cot > li:hover{
	background: #A49292;
}
#jd_cot > li:nth-of-type(1){
	margin-top: 15px;
}
#jd_cot > li:nth-of-type(2) .jd_cot_sub{
	top: -45px;
}
#jd_cot > li:nth-of-type(3) .jd_cot_sub{
	top: -75px;
}
#jd_cot > li:nth-of-type(4) .jd_cot_sub{
	top: -105px;
}
#jd_cot > li:nth-of-type(5) .jd_cot_sub{
	top: -135px;
}
#jd_cot > li:nth-of-type(6) .jd_cot_sub{
	top: -165px;
}
#jd_cot > li:nth-of-type(7) .jd_cot_sub{
	top: -195px;
}
#jd_cot > li:nth-of-type(8) .jd_cot_sub{
	top: -225px;
}
#jd_cot > li:nth-of-type(9) .jd_cot_sub{
	top: -255px;
}
#jd_cot > li:nth-of-type(10) .jd_cot_sub{
	top: -285px;
}
#jd_cot > li:nth-of-type(11) .jd_cot_sub{
	top: -315px;
}
#jd_cot > li:nth-of-type(12) .jd_cot_sub{
	top: -345px;
}
#jd_cot > li:nth-of-type(13) .jd_cot_sub{
	top: -375px;
}
#jd_cot > li:nth-of-type(14) .jd_cot_sub{
	top: -405px;
}
#jd_cot > li:nth-of-type(15) .jd_cot_sub{
	top: -435px;
}
#jd_cot > li > a{
	text-decoration: none;
	font-size: 14px;
	color: #fff;
}
#jd_cot > li > a:hover{
	color: red;
}
.jd_cot_sub{
	position: absolute;
	display: none; 
	padding-bottom: 20px;
	left: 190px;
	top: -15px;
	width: 994px;
	min-height: 460px;
	background: #FFF9F9;
	color: #333;
	z-index: 1;
	box-shadow: 1px 1px 1px 0px #C5C1C1, 0 -1px 1px 0px #C5C1C1;
}
.jd_cot_list ul{
	list-style-type: none;
	position: relative;
	top: 15px;
	left: -20px;
}
.jd_cot_list ul li{
	background: #333;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	height: 25px;
	line-height: 25px;
}
.jd_cot_list ul li:hover{
	background: #6F6E6E;
}
.jd_cot_list ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
}
.jd_cot_list ul li a:hover{
	color: red;
}
.jd_cot_list table{
	display: inline-block;
	position: relative;
	top: 20px;
	width: 800px;
}
.jd_cot_list table tr th{
	position: relative;
	left: -30px;
	text-align: right;
	width: 120px;
	font-size: 12px;
}
.jd_cot_list table tr td{
	position: relative;
	left: -30px;
	font-size: 12px;
	display: inline-block;
}
.jd_cot_list table tr td::before{
	content: "";
	position: absolute;
	width: 1px;
	height: 13px;
	background: #CDC8C8;
	transform: translate(-7px,9px)
}
.jd_cot_list table tr th a,
.jd_cot_list table tr td a{
	color: #333;
	text-decoration: none;
}
.jd_cot_list table tr th a:hover,
.jd_cot_list table tr td a:hover{
	color: red;
}
.jd_cot_img{
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 500px;
}
.jd_cot_img div:nth-of-type(1){
	position: relative;
	top: 20px;
}
.jd_cot_img div:nth-of-type(2){
	position: relative;
	top: 12px;
}
.jd_cot_img div:nth-of-type(3){
	position: relative;
	top: 4px;
}
.jd_cot_img div:nth-of-type(4){
	position: relative;
	top: -4px;
}
.jd_cot_img div:nth-of-type(5) img:nth-of-type(2){
	position: relative;
	left: 10px;
	top: -7px;
}

#jd_cot li:hover .jd_cot_sub{
	display: block;
}
#jd_slider{
	position: relative;
	display: inline-block;
	top: -16px;
	width: 790px;
	height: 480px;
}
#jd_sub_slider{
	display: inline-block;
	position: relative;
	width: 785px;
	height: 330px;
	background: red;
}
#jd_sub_slider .mySlides{
	display: block;
}
#jd_sub_slider .mySlides img{
	width: 785px;
	height: 330px;
}
#jd_sub_slider .prev,
#jd_sub_slider .next{
	display: inline-block;
	position: absolute;
	top: 140px;
	font-size: 29px;
	width: 45px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	transition: all .1s ease-in;
}
#jd_sub_slider .prev:hover,
#jd_sub_slider .next:hover{
	background: rgba(0, 0, 0, .6);
}
#jd_sub_slider .next:nth-of-type(2){
	right: 0px;
}
#jd_sub_slider .dots{
	position: absolute;
	left: 38%;
	bottom: 20px;
	width: 153px;
	height: 20px;
	background: rgba(255,255,255,.5);
	border-radius: 10px;
}
#jd_sub_slider .dots .dot{
	display: inline-block;
	position: relative;
	width: 14px;
	height: 14px;
	margin-top: 3px;
	background: #fff;
	border-radius: 50%;
	cursor: pointer;
	transition: all .1s;
}
#jd_sub_slider .dots .dot:hover{
	background: red;
}
#jd_sub_slider .dots .dot:nth-of-type(1){
	margin-left: 5px;
}
#jd_sub_s_1,
#jd_sub_s_2{
	position: relative;
	display: inline-block;
	top: 8px;
	height: 130px;
	background: blue;
}
#jd_services{
	display: inline-block;
	position: relative;
	width: 190px;
	height: 480px;
}
#jd_services .jd_user{
	position: absolute;
	width: 190px;
	height: 116px;
	border-bottom: 1px solid #D2C7C7;
}
.jd_user .jd_user_u a:nth-of-type(1){
	display: inline-block;
}
.jd_user .jd_user_u a:nth-of-type(1) img{
	width: 50px;
	border-radius: 50%;
	transform: translate(-62px, 47px);
}
.jd_user .jd_user_u p,
.jd_user .jd_user_u a{
	position: relative;
	top: -36px;
	left: 70px;
	font-size: 13px;
	text-decoration: none;
	color: #333;
}
.jd_user .jd_user_u p{
	margin: 3px;
	color: gray;
}
.jd_user .jd_user_o a{
	position: relative;
	top: -18px;
	left: 13px;
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	color: red;
	border: 2px solid red;
	padding: 3px 10px;
}
.jd_user .jd_user_o a:hover{
	background: red;
	color: #fff;
}
#jd_services .jd_news{
	position: absolute;
	top: 116px;
	width: 190px;
	height: 154px;
	border-bottom: 1px solid #D2C7C7;
}
#jd_services .jd_news .jd_tabs{
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #D2C7C7;
}
#jd_services .jd_news .jd_tabs a{
	text-decoration: none;
	font-size: 12px;
	color: #333;
}
#jd_services .jd_news .jd_tabs a:nth-of-type(1){
	margin-left: 10px;
}
#jd_services .jd_news .jd_tabs a:nth-of-type(2){
	margin-right: 78px;
	margin-left: 10px;
	border-left: 1px solid #D2C7C7;
	padding-left: 10px;
}
#jd_services .jd_news .jd_tabs a:nth-of-type(3):hover{
	color: red;
}
#jd_services .jd_news .jd_tabs hr{
	position: relative;
	top: -10px;
	left: -72px;
	width: 30px;
	height: 2px;
	border: none;
	background: red;
}
#jd_services .jd_news .jd_tabs_n{
	font-size: 15px;
}
#jd_services .jd_news .jd_tabs_n div{
	margin-top: 10px;
}
#jd_services .jd_news .jd_tabs_n a{
	font-size: 12px;
	text-indent: 10px;
	height: 24px;
	color: #333;
	text-decoration: none;
	display: inline-block;
}
#jd_services .jd_news .jd_tabs_n a:hover{
	color: red;
}
#jd_services .jd_news .jd_tabs_n2{
	display: none;
}