.jd_content1{
	margin: 20px auto;
	width: 1184px;
	height: 70px;
	background: #E01222;
}
.jd_content1 i{
	position: relative;
	left: 20px;
	color: #fff;
	font-size: 40px;
	line-height: 70px;
}
.jd_content1 p{
	display: inline-block;
	height: 70px;
}
.jd_content1 > p{
	position: relative;
	top: -5px;
	left: 20px;
	color: #fff;
	font-weight: 200;
	font-size: 22px;
}
.jd_content1 a{
	position: relative;
	top: -7px;
	left: 25px;
	text-decoration: none;
	color: #fff;
}
.jd_content1 a::after{
	content: ">";
	position: absolute;
	top: 0px;
	left: 166px;
	border: 1px solid #fff;
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	border-radius: 50%;
}
.jd_content1 > span{
	position: relative;
	display: inline-block;
	color: #fff;
	left: 517px;
	top: -4px;
}
.jd_content1 > span span{
	display: inline-block;
	background: rgba(0, 0, 0, .6);
	width: 40px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 5px;
	font-size: 25px;
	color: red;
	font-weight: 700;
}
.jd_content1 > span strong{
	position: relative;
	left: 3px;
	color: rgba(0, 0, 0, .6);
	font-size: 30px;
}

.jd_box1{
	margin: -10px auto;
	position: relative;
	width: 1190px;
	height: 225px;
	overflow: hidden;
}
.jd_box1 > .jd_bb_slide{
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 4000px;
	height: 225px;
}
.jd_box1 > .jd_bbs_prev,
.jd_box1 > .jd_bbs_next{
	position: relative;
	top: 60px;
	float: left;
	width: 15px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	background: #cfcfcf;
	cursor: pointer;
	z-index: 99;
	display: none;
}
.jd_box1:hover .jd_bbs_prev,
.jd_box1:hover .jd_bbs_next{
	display: block;
}
.jd_box1 > .jd_bbs_next{
	left: 980px;
}
.jd_box1>.jd_bb_slide li{
	position: relative;
	transform: translateY(20px);
	width: 200px;
	height: 225px;
	float: left;
}
.jd_box1>.jd_bb_slide li > a{
	text-decoration: none;
	color: gray;
}
.jd_box1>.jd_bb_slide li > a p{
	font-size: 12px;
	margin: 5px;
}
.jd_box1>.jd_bb_slide li span strong{
	color: #f00;
}
.jd_box1>.jd_bb_slide li > a img{
	transition: all .4s;
}
.jd_box1>.jd_bb_slide li > a:hover img{
	transform: translateY(-10px);
}
.jd_box1>.jd_bb_slide li > a:hover p{
	color: #ff0000;
}
.jd_box1>.jd_bb_slide li span del{
	font-size: 12px;
	color: gray;
}
.jd_box1 > a > img{
	float: right;
	position: relative;
	width: 180px;
	height: 225px;
}
