#screen{
  width: 820px;
  height: 700px;
}
.person > p{
  display: inline-block;
  width: 400px;
  height: 40px;
  background: #ffffff;
  transform: translateX(5px);
  text-align: center;
  line-height: 40px;
  font-size: 1.3em;
}
.person > p:nth-of-type(2){
  transform: translateX(10px);
}
.notafications1{
   width: 400px;
   height: 20px;
   background: #000;
   transform: translate(5px, 5px);
}
.notafications2{
  width: 400px;
  height: 20px;
  background: #000;
  transform: translate(415px, -615px);
}
.signal{
  display: inline-block;
  width: 25px;
  height: 20px;
  transform: translate(2px, 0px);
}
.signal > span{
  display: inline-block;
  width: 3px;
  height: 4px;
  background: #ffffff;
  transform: translateX(3px);
  box-shadow: 5px 0 0 0 #ffffff, 5px -3px 0 0 #ffffff, 10px 0 0 0 #ffffff, 10px -4px 0 0 #ffffff, 10px -6px 0 0 #ffffff, 15px 0 0 0 #ffffff, 15px -4px 0 0 #ffffff, 15px -8px 0 0 #ffffff, 15px -9px 0 0 #ffffff;
}
.sgms{
  display: inline-block;
  width: 55px;
  height: 20px;
  color: #ffffff;
}
.wifi{
  width: 20px;
  height: 20px;
  display: inline-block;
}
.wifi::before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  transform: translate(8px, 12px);
  background: #ffffff;
  border-radius: 50%;
}
.wifi span{
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transform: translate(5px, 2px);
  border: 2px solid;
  border-color: #ffffff transparent transparent transparent;
}
.wifi span::before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translate(-4px, -5px);
  border-radius: 50%;
  border: 2px solid;
  border-color: #ffffff transparent transparent transparent;
}
.wifi span::after{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  transform: translate(-6.5px, -8px);
  border-radius: 50%;
  border: 2px solid;
  border-color: #ffffff transparent transparent transparent;
}
.times{
  display: inline-block;
  width: 40px;
  height: 20px;
  color: #ffffff;
  transform: translateX(80px);
}
.battery{
  transform: translateX(200px);
  display: inline-block;
  width: 20px;
  height: 12px;
  border-width: 1px 1px 1px 14px;
  border-style: solid;
  border-color: #ffffff;
}
.battery::after{
  content: '';
  position: absolute;
  width: 2px;
  height: 6px;
  transform: translate(20px, 3px);
  background: #ffffff;
}
#show1{
  position: relative;
  transform: translate(5px, 5px);
  width: 400px;
  height: 560px;
  background: #d9d9d9;
  overflow: auto;
}
::-webkit-scrollbar{
  width: 0;
}
#show1 nav{
  position: relative;
}
#show1 nav.person1{
    direction: rtl;
}
#show1 nav img{
  width: 30px;
  position: absolute;
  margin-top: 15px;
}

#show1 nav p{
  padding: 10px;
  border-radius: 10px;
  text-wrap: normal;
  max-width: 300px;
  display: inline-block;
  margin: 10px 40px;
  color: #1d1c1d;
}
#show1 nav.person1 p{
  background: #9FE658;
}
#show1 nav.person1 p::before{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid;
  transform: translate(24px, 5px);
  border-color: transparent transparent transparent #9FE658;
}
#show1 nav.person2 p::before{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid;
  transform: translate(-24px, 5px);
  border-color: transparent floralwhite transparent transparent;
}
#show1 nav.person2 p{
  background: floralwhite;
}
#in1{
  width: 400px;
  height: 40px;
  position: relative;
  transform: translate(5px, 10px);
  box-shadow: 0 -2px 0 0 gray;
}
#in1 input[type="text"]{
  width: 330px;
  height: 38px;
  border: 1px solid gray;
  padding: 0;
  outline: none;
  background: #ffffff;
  float: left;
  font-size: 1.2em;
}
#in1 input[type="button"]{
  width: 68px;
  height: 40px;
  padding: 0;
  outline: none;
  border: none;
  float: left;
  font-size: 1.2em;
  cursor: pointer;
  color: #ffffff;
  background: #9FE658;
}